<!-- Barra lateral -->
      <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" routerLinkActive="active">Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/countries/by-capital" routerLinkActive="active">Por Capital</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/countries/by-country" routerLinkActive="active">Por País</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/countries/by-region" routerLinkActive="active">Por Región</a>
            </li>
          </ul>
      </nav>   
      <router-outlet></router-outlet>