<div
*ngIf="countries.length === 0; else table"
class="alert alert-warning text-center"
>
No hay países que mostrar...
</div>

<ng-template #table>
<div class="table table-hover">
<thead>
  <tr>
    <th>#</th>
    <th>País</th>
    <th>Bandera</th>
    <th>Población</th>
    <th>Capital</th>
    <th></th>
    <th> <!-- deja un espacio en blanco de momento --></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let country of countries; let i = index">
    <th>{{i + 1}}</th>
	<th>{{ country.name.common }}</th>
    <th> <img [src]="country.flags.png" [alt]="country.name.common" class="img-thumbnail"></th>
    <th>{{ country.population }}</th>
	<th>{{ country.capital }}</th>

    <td><a [routerLink]="['/countries/id', country.ccn3]">Ver más...</a></td>
  </tr>
</tbody>
</div>
</ng-template>