<div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="mt-5">Acerca de Países del Mundo</h1>
        <p class="lead">Países del Mundo es una plataforma educativa líder dedicada a proporcionar información completa y actualizada sobre todos los países del mundo.</p>
        <p>Con un enfoque en la precisión, relevancia y accesibilidad, nuestra misión es promover la comprensión global, la diversidad cultural y la educación intercultural. Ya sea que estés planificando un viaje, estudiando geopolítica o simplemente ampliando tus conocimientos sobre el mundo, estamos aquí para ayudarte a explorar y descubrir.</p>
        <h3>Nuestros Objetivos</h3>
        <ul>
          <li>Proporcionar datos precisos y actualizados sobre cada país, incluyendo aspectos geográficos, demográficos, culturales, económicos y políticos.</li>
          <li>Promover la comprensión intercultural y el respeto hacia la diversidad étnica, lingüística y religiosa de todo el mundo.</li>
          <li>Fomentar la curiosidad intelectual y la conciencia global entre estudiantes, viajeros y entusiastas de la geografía y la cultura.</li>
          <li>Ofrecer herramientas y recursos educativos que faciliten el aprendizaje autodidacta y la investigación independiente.</li>
          <li>Mantener un compromiso constante con la calidad, la imparcialidad y la integridad en la presentación de la información.</li>
        </ul>
        <h3>Nuestro Equipo</h3>
        <p>El equipo detrás de Países del Mundo está formado por expertos en geografía, investigación social, educación y tecnología. Nuestros colaboradores provienen de diversos orígenes culturales y lingüísticos, lo que nos permite ofrecer una perspectiva global y enriquecedora.</p>
        <h3>Contáctanos</h3>
        <p>Si tienes alguna pregunta, sugerencia o comentario, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte y esperamos poder contribuir a tu exploración y comprensión del mundo que nos rodea.</p>
        <p><b>Correo electrónico: info&#64;paisesdelmundo.com</b></p>
      </div>
    </div>
  </div>
  <footer class="bg-dark text-white text-center py-4">
    <p>&copy; 2024 Mi Empresa. Todos los derechos reservados.</p>
</footer>